html {
    height: 100%;
    width: 100%;
  }

  body {
background-image: url(FOTOS/fondo7.png);
background-size: cover;
background-repeat: repeat;
background-position: center;
margin: 0;
  padding: 0;
  }

h1{
color: black;
text-align: center;
margin-top: 100px;
}

#pedidos{
color: black;
text-align: left;
margin-top: 100px;
}

h2 {
color: blueviolet;
text-align: center;
}


h3 {

  color: green;
}

h6{
color: aqua;

}
  .botones {
    display: flex;
    justify-content: center;
    width: 100% ;
    gap: 100px 
    
  }
  
button {
  background-color:yellowgreen;
  padding: 20px;
font: size 32px;
cursor: pointer


}



.parrafos {
color: black;
    text-align: justify;
  max-width: 800px;
  margin: auto;
  padding: 20px;

}

.imagenes {
text-align: center;
margin-top: 130px;
}

.navbar {
background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: index 999; ;
}